@model WebApplication9.Models.Category
@{

    Layout = "~/Views/_layoutAdmin.cshtml";
    ViewBag.Title = "Detail";
    
  
   WebApplication9.Models.Category c = (WebApplication9.Models.Category)ViewBag.CategoryUpdate;
    //this is viewbag . as there can be only one model in a view we will use a viewbag.

    // DataTable dt = ViewBag.ServiceTypeDetail;//for dropdown
    // DataTable dt2 = ViewBag.ServiceProviderList;//for table

    // we can also use datatable
}

<!--First part i.e Form-->

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Category Detail <small>Create Category</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Settings 1</a>
                        </li>
                        <li>
                            <a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" action="/Admin/CategoryDetail" method="post" enctype="multipart/form-data">

                <!--
                  enctype="multipart/form-data" must be used when there is attribute for a file upload.
                 by default it is text/plain.

                  for info regarding the enctype visit :
                http://html.com/attributes/form-enctype/
                 and also see the answers on stackoverflow.

                 -->

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Name">
                        Name <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" value="@c.Name" name="Name" required="required" class="form-control col-md-7 col-xs-12">
                    </div>
                </div>
                

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Name">
                        Photo <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">

                        <input class="input-xlarge focused" type="file" name="Photo" value="fileupload">
                    </div>
                </div>


                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <!--<button type="submit" class="btn btn-primary">Cancel</button>-->
                        <button type="submit" class="btn btn-success">Create New Category</button>
                         <button type="submit" class="btn btn-primary">Reset</button>
                       
                    </div>
                </div>

                <!-- hidden value Passing ID-->
                <input type="hidden" name="CategoryId" value="@c.CategoryId" />

            </form>
        </div>
    </div>
</div>







