@*@@model WebApplication9.Models.Product *@
@using System.Data
@model DataTable
@{
    ViewBag.Title = "ProductList";


    Layout = "~/Views/_layoutAdmin.cshtml";
}

<!--List part (Table)-->
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Product List <small>List of Product</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Settings 1</a>
                        </li>
                        <li>
                            <a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <table class="table table-striped responsive-utilities jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        <th>
                            <input type="checkbox" id="check-all" class="flat">
                        </th>
                        <th class="column-title"> Name </th>
                        <th class="column-title">Photo</th>
                        <th class="column-title">Description</th>
                        <th class="column-title">ProductCode </th>
                        <th class="column-title no-link last">
                            <span class="nobr">Action</span>
                        </th>
                        <th class="bulk-actions" colspan="7">
                            <a class="antoo" style="color:#fff; font-weight:500;"> Delete Selected <i class="fa fa-chevron-down"></i></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Rows.Count; i++)
                    {
                        <tr class="even pointer">
                            <td class="a-center ">
                                <input type="checkbox" class="flat" name="table_records">
                            </td>
                            <td class=" ">@Model.Rows[i]["Name"]</td>
                            <td ><img style="width:100px" src='@Model.Rows[i]["Photo"]'/></td>
                            <td class=" ">@Model.Rows[i]["Description"]</td>
                            <td class=" ">@Model.Rows[i]["ProductCode"]</td>
                            <td class=" last">

                                     <a href="~/Admin/ProductDetail/@Model.Rows[i]["ProductID"]">View/</a>
                                    <a href="~/Admin/ProductDelete/@Model.Rows[i]["ProductID"]">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

